#search{
  background-color: var(--teal-color);
  padding: 15px 50px;
  border-radius: 24px;
  border: none;
  color: white;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.search-container{
  flex: 1;
}

.search-wrapper{
  display: flex;
  position: relative;
  width:100%;
}

.search-wrapper img{
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.search-error{
  color: tomato;
  font-size:.9rem;
  font-weight: bold;
}