.profile-page {
    height: calc(100vh - 137.7px);
}

.profile-section {
    padding: 20px 0;
    flex: 1;
}

.profile-pic-wrapper{
    flex: .2;
    align-items: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 24px;
}

.profile-username{
    color: white;
}

.achievements-wrapper {
    color: var(--teal-color);
    background-color: white;
    border-radius: 12px;
    padding: 40px;
    display: flex;
    flex: 1;
}

.achievements-wrapper h2{
    color: var(--teal-color)
}

.achievements-wrapper p {
    width: 100%;
    text-align: center;
}

.achievements-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: disc inside;
    font-size: 1.2rem;
    padding: 0 20px;
}

.achievements-list li {
    flex: 1;
    flex-basis: 30%;
    min-width: fit-content;
}

.profile-main {
    position: relative;
    display: flex;
    overflow-y: auto;
}

.profile-main > div:first-child {
    flex: 1.2;
}

.profile-main > div:last-child {
    flex: 0.8;
}

.no-posts-headline {
    color: white;
    font-size: 1.5rem;
    flex: 1;
}

.profile-cookmates-wrapper {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    color: var(--teal-color);
}

.profile-cookmates-wrapper h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

.cookmates-number img {
    background-color: var(--teal-color);
    padding: 5px;
    border-radius: 100px;
    height: 30px;
    width: 30px;
}

.profile-cookmates-list {
    overflow-y: auto;
}
.profile-cookmates-list li a {
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile-cookmates-list li img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.profile-page .posts-container{
    overflow-y: auto;
}

@media (max-width: 880px) {
    .profile-info-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .achievements-wrapper {
        flex-direction: column;
        align-self: stretch;
    }
    .profile-main {
        flex-direction: column-reverse;
    }

    .profile-page .home-main {
        overflow-y: auto;
        height: auto;
    }

    .profile-main > div:first-child {
        flex: content;
    }

    .profile-main > div:last-child {
        flex: content;
    }
}
