.post {
    position: relative;
    background: white;
    border-radius: 12px;
    padding: 30px;
}

.post-header .profile-pic {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 100px;
}

.uploader-info p:first-child {
    font-size: 1.2rem;
}

.uploader-info p:last-child {
    color: var(--teal-color);
}

.post-content h2 {
    font-size: 1.2rem;
    color: var(--teal-color);
    font-weight: 400;
    margin-bottom: 15px;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.media-item{
    width:100%;
    display: flex;
    align-items: center;
}

.post-media {
    flex: 1;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.post-description {
    font-size: 1.1rem;
    padding: 20px 0;
    gap: 20px;
}

.post-description .ingredients,
.post-description .instructions{
    width: 100%;
}

.post-description .ingredients p, 
.post-description .instructions p{
    font-weight: bold;
}
.post-description div{
    flex: 1;
}
.post-description button {
    padding: 10px;
    font-size: 1rem;
    background-color: var(--teal-color);
    color: white;
    font-weight: bold;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    border-radius: 12px;
}

.no-post-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.post-actions-wrapper {
    width:100%;
    display: flex;
    padding: 10px 0;

}

.post-actions {
    padding: 10px 0;
    width:100%;
}

.post-action-btn{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;   
}

.post-actions button:last-child{
    margin-left: auto;    
}

.post-add-comment input {
    background-color: var(--teal-color);
    color: white;
    padding: 15px 30px;
    font-size: 1rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 100px;
}

.comments {
    border-top: 2px solid var(--teal-color);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comment {
    max-width: 500px;
}

.comment-pic {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid var(--teal-color);
}

.comment-info {
    background-color: var(--teal-color);
    border-radius: 12px;
    padding: 5px 15px;
    color: white;
    width: fit-content;
}

.comment-info p:first-child {
    font-weight: bold;
}

.generate-btn {
    position: relative;
    overflow: hidden;
    transition: transform 0.25s ease-in-out;

}

.generate-btn:hover{
  transform: scale(1.1);
}

.generate-btn:active{
  transform: scale(1);
}

.generate-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.492);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.492);
    transform: skewX(-20deg) translateX(-100px);
    animation: generate-btn 3s ease-in-out infinite;
    transition: transform 0.25s ease-in-out;
}

@keyframes generate-btn {
    to {
        transform: skewX(-20deg) translateX(510px);
    }
}

@media (max-width: 880px){
    .post-actions-wrapper{
        flex-direction: column;
    }
}

@media (max-width: 400px){
    .post-description{
        flex-direction: column;
        gap: 20px;
    }
}