.cookmates-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: white;
}
.posts-container .search-wrapper {
    max-width: 600px;
}

.pending-cookmates-link {
    padding: 10px 20px;
    color: white;
    font-weight: 800;
    text-transform: capitalize;
    background-color: var(--teal-color);
    border-radius: 12px;
    transition: all 0.25s ease-in-out;
}

.pending-cookmates-link:hover {
    box-shadow: inset 0 0 5px 10px rgba(54, 54, 54, 0.462);
}

.pending-cookmates-link:active {
    box-shadow: inset 0 0 10px 15px rgba(41, 41, 41, 0.782);
}

.cookmates-wrapper li{
    gap: 15px;
}

.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--teal-color);
    border: 1px solid white;
    border-radius: 28px;
    width: 200px;
    padding: 10px;
}

.user-card img {
    width: 90%;
    min-width: 150px;
    border-radius: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 1px solid white;
    margin: 10px;
}

.user-card h2 {
    font-size: 1rem;
    background-color: var(--teal-color);
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.306);
}

.cookmate-link {
    margin-top: 5px;
    font-size: 0.9rem;
    text-align: center;
    background-color: white;
    color: var(--teal-color);
    padding: 10px 20px;
    border-radius: 12px;
}

.no-cookmates {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-cookmates h2 {
    font-size: 2rem;
}

@media (max-width: 880px) {
    .user-card h2 {
        font-size: 1.3rem;
    }

    .no-cookmates h1 {
        font-size: 1.5rem;
    }
    .cookmate-link {
        font-size: 1.2rem;
    }
}
