.create-post-container {
    background-color: white;
    border-radius: 12px;
    padding: 25px;
}

.create-post-container img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.create-post-container .new-post {
    background-color: var(--teal-color);
    color: rgb(190, 190, 190);
    border-radius: 122px;
    padding: 10px 30px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
}

.post-types{
  border-top: 1px solid var(--teal-color);
  padding: 20px 0 10px 0;
}

.post-types li{
    cursor: pointer;
}

.post-types img {
    width: 30px;
    height: 30px;
    border-radius: 0;
}


.new-post-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--teal-color);
    color: white;
    width: 100%;
}

.new-post-form input,
.new-post-form select {
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    color: var(--teal-color);
    transition: all 0.25s ease-in-out;
}

.new-post-form select {
    cursor: pointer;
}

.new-post-form input:focus,
.new-post-form select:focus {
    outline: 1px solid white;
    box-shadow: inset 0 0 10px 10px rgba(15, 15, 15, 0.2);
}

.new-file-input-wrapper {
    display: flex;
    align-items: center;
}

.new-file-input-wrapper input {
    flex-grow: 1;
    background-color: var(--teal-color);
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    color: white;
    margin-right: 10px;
    transition: all 0.25s ease-in-out;
}

.new-file-input-wrapper input:focus {
    outline: 1px solid white;
    box-shadow: inset 0 0 10px 10px rgba(15, 15, 15, 0.2);
}

.new-post-form button {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 12px;
    font-size: 1.4rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: var(--teal-color);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.new-post-form button:hover {
    transform: scale(1.05);
}



/* Media Queries */

/* Tablet or Small laptop Screens */
@media (max-width: 880px) {
    .new-post-form {
        width: 100%;
    }
}

.new-file-input-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    
}

.new-file-input-wrapper input {
    display: none
}

.new-file-input-wrapper input:focus {
    outline: 1px solid white;
    box-shadow: inset 0 0 10px 10px rgba(15, 15, 15, 0.2);
}

.file-input-icon {
    margin-right: 10px;
}

.file-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.file-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Add this CSS to your existing styles or customize as needed */

.new-file-input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
  }
  
  .file-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width:100%;
  }
  
  .file-preview-item {
    width: 100%;
  }
  
  .file-preview-item img,
  .file-preview-item video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the post preview */
  .post-preview h2 {
    border-bottom: 1px solid white;
    width: fit-content;
    margin-bottom: 10px;
  }
  
  .post-preview h3,
  .post-preview p {
    margin-bottom: 10px;
  }
  
  .post-preview video,
  .post-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .preview-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }
  
  .preview-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: var(--teal-color);
    border: 1px solid white;
    color: white;
    transition: all 0.25s ease-in-out;
  }

  .preview-buttons button:last-child{
    background-color: var(--secondary-color);
    color: var(--teal-color);
  }
  
  .post-edit{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .create-post-container div{
    flex: 1;
  }
  
  /* Add more styles as needed */
  

@media (max-width: 1500px){
    .post-types li{
        flex-direction: column;
    }
}

