.cookmates-sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.4;
    padding: 20px;
    color: white;
    gap:15px;
}

.cookmate {
    font-size: 1.1rem;
}

.cookmate img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100px;
}

.no-cookmates-sidebar{
    height: 100%;    
    filter: saturate(0) brightness(0.7) opacity(.5);
    font-size:1.1rem;
    gap: 20px;
}

.no-cookmates-sidebar img{
    width: 120px;
}

.online-circle {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background-color: var(--secondary-color);
}

@media (max-width: 1300px) {
    .cookmates-sidebar {
      display: none;
    }
}
