.post-item-list{
  list-style-type: none;
  width:100%;
}

.post-item-list li{
  padding: 10px;
}

.instructions  .post-item-list li:nth-child(even){
  background-color: #d4d4d4;
}

.ingredients  .post-item-list li:nth-child(odd){
  background-color: #d4d4d4;
}

.ingredients p, .instructions p{
  border-bottom: 2px solid var(--teal-color);
  margin-bottom: 5px;
}