.auth-container{
  position: absolute;
  width: 100%;
  height: 100vh;
  min-height: 600px;  
  transition: all 0.25 ease-in-out;
}

.auth-container::before{
  content: '';
  position: absolute;
  top:0;
  width: inherit;
  height: inherit;
  min-height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/login-background.png");
}

.auth-container.register::before{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/register-background.png");
}

.auth-form{
  display: flex;
  flex-direction: column;
  height: inherit;
  min-height: inherit;
  width: 50%;
  min-width: 600px;
  padding: 180px 75px;
  gap: 20px;
  transition: all 0.25s ease-in-out;
}

.auth-form h1{
  width: 300px;
  font-size: 1.8rem;
}

.auth-form p{
  font-weight: 500;
}

.auth-form a{
  text-decoration: underline;
  font-weight: 700;
}

.auth-form a:hover{
  color: rgb(15, 53, 53);
}

.auth-form img{
  width: 125px;
}

.auth-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.login .auth-form{
  background: var(--login-color);
  border-radius: 24px 0 0 24px;
  color: var(--teal-color);
  transform: translateX(100%);
}

.register .auth-form{
  transform: translateX(0);
  background-color: var(--teal-color);
  color: white;
  border-radius: 0 24px 24px 0;
}

.auth-body{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-body .profile_pic {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  border: 1px solid var(--secondary-color);
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.auth-body .profile_pic img{
  width: 100%;
  transition: all 0.25s ease-in-out;
  user-select: none;
}

.auth-body .profile_pic .profile_pic_selected:hover{
  opacity: 0.4;
}

.auth-body input{
  background-color: var(--teal-color);
  border: none;
  border-radius: 12px;
  padding: 25px;
  font-size: 1.2rem;
  color: white;
  transition: all 0.25s ease-in-out;
}

.register .auth-body input{
  border: 1px solid var(--secondary-color);
}

.auth-body input:focus{
  outline: 1px solid white;
  box-shadow: inset 0 0 10px 10px rgba(15,15,15, .2);
}

.auth-body-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-body-footer-left{
  display: flex;
}

.auth-body-footer-left input[type="checkbox"]{
  width: 20px;
  aspect-ratio: 1/1;
}

.auth-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.auth-form button{
  width: 100%;
  background-color: var(--teal-color);
  padding: 20px;
  border-radius: 12px;
  font-size: 1.4rem;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
}

.register .auth-form button{
  background-color: var(--secondary-color);
  color: var(--teal-color)
}