.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.home-main {
    position: relative;
    display: flex;
    flex: 1;
    background-color: var(--teal-color);
}

.main-section {
    flex: 2;
    padding: 20px 0;
}
