.home {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home-main {
  position: relative;
  display: flex;
  flex: 1;
  background-color: var(--teal-color);
  padding: 0 var(--main-x-padding)
}

.main-section{
  flex: 2;
  padding: 20px 0;
}